body{
    font-family: monospace;
    margin:0;
    background-color: #657FFC;
}
html, body{
    overflow-x:hidden;
}
body {
    position:relative;
    color:black;
}
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
main div{
    color:black;
}
nav, footer{
    background: black;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
}
footer {
    justify-content: center;
    color:white;
    font-size: 13px;
    position: fixed;
  left: 0;
  bottom: 0;
}

nav a{
    color: white; 
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    align-content: center;
    font-size: 15px;
}
nav ul {
    display: flex;
}
nav ul li {
    display:flex;
    align-items: center;

}
#chart_div {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #657FFC;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    
}
main{
    width: 100%;
}
@media only screen and (max-width:767px) {
    nav ul {
        display: none;
    }
    nav {
        justify-content: center;
    }
    main #piechart, main #piechart * {
        max-height: 300px!important;
    }
}

@media only screen and (min-width:1200px) {
    main {
        display:flex;
        flex-wrap: wrap;
    }
    #regions_div, #piechart {
        width:50%;
    }
    #chart_div{
        width:100%;
    }
}







